@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&display=swap');
/* відступ пропустив */
*{
	box-sizing: border-box;
}
body {
	font-family: 'Heebo', sans-serif;
	max-width: 808px;
	margin: 0 auto;
	
}

.info {
	display: flex;
	flex-direction: row;
	color: #21243D;
}
.info__photo {
	display: inline-block;
	height: 250px;
	min-width: 250px;
	margin: 0 50px;
	border-radius: 50%;
	overflow: hidden;
}

.photo {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.info__button {
	background: #FF6464;
	color: #fff;
	padding: 5px 15px 5px;
	border-radius: 2px;
	border: 0;
}
/* відступи між стилями */
.post__desk{
	background: #EDF7FA;
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 50px;
	padding-bottom: 10px;
}
.post__link {
	color: #00A8CC;
	text-decoration: none;
	text-align: right;
	margin: 25px 10px 0 0;
}
/* форматування пізда */
.post{
	background: #fff;
margin: 5px 10px;
padding: 0 15px;
border-radius: 4px;
box-shadow: 0px 2px 5px
}
.post__content{
	text-align: center;
	padding-top: 15px;
	padding-bottom: 0;
	width: 100%;
	height: 100%;
}